<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="all-container">


    <!--Start of projects sidebar!-->
        


    <div class="projects-sidebar"> 
            
    <h1>Projects</h1>
    <form action="/create" method="post">
        <input class="input-style" type="text" name="list" id="list" placeholder="Put your new project here">
    <button id="addButton" type="submit" class="add">New project</button>
    </form>    
    <p class="item"></p>
  

        <% tasksList.forEach((list) =>{   %>
            <div class="buttons-container">

            <p class="item"> <%= list.list %>  </p>
            <button class="edit-button" href=""></button>
            <button class="erase-button" href="">X</button>
                
            </button>
            </div>
          <% }) %>  

   
    </div>
    <!--End of projects sidebar-->

    <!--Start of project goals container-->
        
    <div class="goals-container">
        <h1>Project nameee</h1>
        <div class="static-titles-align">
        <h1 class="static-titles-status">Status</h1>
        <h1 class="static-titles-limit">Limit</h1>
        </div>

        <div class="task-container">
        <div class="task-item">
        <p class="task-style">Taskone example</p>
        </div>

        <div class="task-status">
              <p class="task-concluded">Concluded</p>
        </div>

        <div class="task-limit">
            <p class="limit-date">April 28</p>
        </div>
        </div>

     
    </div>



</div>
    <!--End of project goals container-->
        <script src="script.js"></script>
</body>
</html> 
</div>

  